2020 - I semester
INFO257 - Inteligencia Artificial
Unidad 1 - Aprendizaje Supervisada

Tarea práctica

Dataset

El dataset Sloan Digital Sky Survey DR14 (https://www.sdss.org/dr14/) contiene 10.000 observaciones del espacio tomadas por el SDSS (https://www.sdss.org/). Cada observación es descrita por 17 columnas de características y una columna de clase que la identifica como una estrella, galaxia o quasar. Los datos del SDSS están descritas por características obtenidos por varias mediciones de espectros ópticos y infrarrojos.

Descargar el dataset: 
https://github.com/matthieuvernier/INFO257_2020/blob/master/unidad1/datos/SDSS-DR14.csv

Tarea

El ejercicio consiste en aprender distintos modelos de clasificación supervisada capaz de clasificar nuevos datos del SDSS en tres clases: estrella, galaxia o quasar.  

Podrán utilizar los algoritmos de Machine Learning implementado en la libreria Python Scikit-Learn: https://scikit-learn.org/stable/

Cuidarán  el preprocesamiento inicial de los datos brutos para eliminar cualquier inconsistencia.
Analizarán la distribución de las características para evaluar eventuales desequilibros en el dataset.
Entrenarán y evaluarán el rendimiento de al menos tres modelos distintos para resolver esta tarea, utilizando métricas de evaluación apropiadas. 
Compararan el rendimiento de los modelos obtenidos y conversarán las ventajas y desventajas potenciales de cada modelo.
Analizarán los modelos obtenidos para identificar cuáles son las características más relevantes para la clasificación de estrellas, galaxia y quasar.

Entrega de la tarea:
Notebook Python en su cuenta GitHub 
Plazo: jueves 28 de mayo (Enviarme una notificación por Slack con el enlace de su cuenta)

In [1]:
#Nuestros datos son al formato CSV 
import pandas as pd
datos = pd.read_csv("SDSS-DR14.csv")
datos[:10]

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1.237650e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.722360e+18,STAR,-0.000009,3306,54922,491
1,1.237650e+18,183.598371,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.638140e+17,STAR,-0.000055,323,51615,541
2,1.237650e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.232740e+17,GALAXY,0.123111,287,52023,513
3,1.237650e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.722370e+18,STAR,-0.000111,3306,54922,510
4,1.237650e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.722370e+18,STAR,0.000590,3306,54922,512
5,1.237650e+18,183.847174,0.173694,19.43133,18.46779,18.16451,18.01475,18.04155,752,301,4,269,3.649550e+17,STAR,0.000315,324,51666,594
6,1.237650e+18,183.864379,0.019201,19.38322,17.88995,17.10537,16.66393,16.36955,752,301,4,269,3.232870e+17,GALAXY,0.100242,287,52023,559
7,1.237650e+18,183.900081,0.187473,18.97993,17.84496,17.38022,17.20673,17.07071,752,301,4,269,3.722370e+18,STAR,0.000315,3306,54922,515
8,1.237650e+18,183.924588,0.097246,17.90616,16.97172,16.67541,16.53776,16.47596,752,301,4,270,3.638290e+17,STAR,0.000089,323,51615,595
9,1.237650e+18,183.973498,0.081626,18.67249,17.71375,17.49362,17.28284,17.22644,752,301,4,270,3.243690e+17,GALAXY,0.040508,288,52000,400